body {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
}

.setting {
    background-color: rgba(35, 35, 35, 0.566);
    width: fit-content;
    height:fit-content;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vmax;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0px 0px 0px;
    transition-duration: 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition-duration: 100ms;
    margin-bottom: 3%;
}
.setting:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px grey;
}
.setting:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 5px grey;
}