body {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
}
.cookie-overlay {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background: #fff;
    z-index: 2051;
    line-height: 20px;
    font-size: 14px;
    border-radius: 6px;
  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
    > div:first-child {
      width: 458px;
    }
  
    a {
      text-decoration: underline;
    }
  
    .close-cookies {
      cursor: pointer;
    }
  
    @include media-breakpoint-down(md) {
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0;
  
      > div:first-child {
        width: auto;
      }
    }
  }